<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <link href='http://fonts.googleapis.com/css?family=Sacramento|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Scribble Decor</h1>
    <nav>
      <% if session[:user] %>
        <%= link_to " #{session[:user]["username"]}: Sign Out", sign_out_path %>
        <%= link_to "Posts", posts_path %>
      <% else %>
        <%= link_to "Sign In", sign_in_path %>
        <%= link_to "Sign Up", sign_up_path %>
      <% end %>
    </nav>
  </header>
  <h2><%= flash[:notice] %></h2>

<%= yield %>

</body>
</html>
